<section class="container d-flex justify-content-center flex-column align-items-center position-relative border border-1">
    <div class="new-btn position-absolute top-0 start-100 translate-middle">
        <button class="edit-btn" type="button" routerLink="/nueva-educacion" *ngIf="isLogged">Agregar Educacion
        </button>
        <i class="fa-solid fa-square-plus fa-2xl" style="color: #ff5b5b;"></i>
    </div>
    <h2>Educacion</h2>
    <div class="row row-cols-3 gap-1">
        <div *ngFor="let Educacion of educacion" class="col p-0 m-0">
            <div  class="d-flex flex-column card-box border border-1 shadow-sm rounded-3">
                <div class="d-flex justify-content-around align-items-center flex-grow-1 flex-shrink-1">
                    <div class="card-img m-1">
                    </div>
                    <div class="flex-grow-1 text-center m-1">
                        <span>{{Educacion.nombreEducacion}}</span>
                        <h2>{{Educacion.descripcionEducacion}}</h2>
                    </div>
                </div>
                <div class="card-footer" *ngIf="isLogged">
                    <button routerLink="/edit-educacion/{{Educacion.educacionId}}"><i class="fa-solid fa-gear fa-lg"
                            style="color: #71ad01;"></i>
                        Editar
                    </button>
                    <button (click)="borrar(Educacion.educacionId)"><i class="fa-sharp fa-solid fa-trash fa-lg"
                            style="color: #c40000;"></i>
                        Borrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>