<main class="container pt-5 mt-5 position-relative">
    <div class="edit-box position-absolute top-0 start-100 translate-middle">
        <a class="edit-btn" type="button" data-bs-toggle="modal" data-bs-target="#aboutModal"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>  
    </div>
    <div class="row gap-5">
        <div class="col d-flex align-items-center">
            <section>
                <img src="/assets/img/close-up-portrait-beautiful-cat.jpg" alt="">
                <img src="/assets/img/profile-test.jpeg" alt="">
                <img src="/assets/img/road-trip-concept-with-young-couple.jpg" alt="">
                <img src="/assets/img/world-collapse-doomsday-scene-digital-painting.jpg" alt="">
            </section>
        </div>
        <div class="col">
            <h2>Sobre {{persona.nombre}}</h2>
            <p class="text-about">{{persona.descripcion}}</p>
        </div>
    </div>
</main>
<app-about-modal></app-about-modal>

