.login-img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: aqua;
    border: 2px solid whitesmoke;
}

.login-btn {
    padding: 2px;
    background-color: coral;
    width: 3.5rem;
    height: fit-content;
    
}