<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Actualización de datos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form  class="">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="firstName" placeholder=""  value="" required="">
                        </div>

                        <div class="col-sm-6">
                            <label for="lastName" class="form-label">Apellido</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                        </div>

                        <div class="col-12">
                            <label for="title" class="form-label">Titulo</label>
                            <input type="email" class="form-control" id="title">
                        </div>
                        <div class="col-12" >
                            <label for="username" class="form-label">Redes Sociales</label>
                            <div class="input-group py-2">
                                <span class="input-group-text">github.com/</span>
                                <input type="text" class="form-control" id="username" placeholder="Username"
                                    required="">
                            </div>
                            <div class="input-group py-2">
                                <span class="input-group-text">linkedin.com/</span>
                                <input type="text" class="form-control" id="username" placeholder="Username"
                                    required="">
                            </div>
                            <div class="input-group py-2">
                                <span class="input-group-text">codepen.com/</span>
                                <input type="text" class="form-control" id="username" placeholder="Username"
                                    required="">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
