<div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Actualización de datos</h1>
            <button type="button" class="btn-close" routerLink="/index" aria-label="Close"></button>
        </div>
        <div class="modal-body" *ngIf="persona.id">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="persona.nombre" required>
                    </div>

                    <div class="col-sm-6">
                        <label for="apellido" class="form-label">Apellido:</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" required [(ngModel)]="persona.apellido">
                    </div>

                    <div class="col-12">
                        <label for="titulo" class="form-label">Titulo:</label>
                        <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="persona.titulo">
                    </div>
                    <div class="col-12">
                        <label for="username" class="form-label">Redes Sociales:</label>
                        <div class="input-group py-2">
                            <span class="input-group-text">github.com/</span>
                            <input type="text" class="form-control" id="github" placeholder="github" name="github" required [(ngModel)]="persona.githubURL">
                        </div>
                        <div class="input-group py-2">
                            <span class="input-group-text">linkedin.com/</span>
                            <input type="text" class="form-control" id="linkedin" placeholder="linkedin" required name="linkedin" [(ngModel)]="persona.linkedinURL">
                        </div>
                        <div class="input-group py-2">
                            <span class="input-group-text">codepen.com/</span>
                            <input type="text" class="form-control" id="codepen" placeholder="codepen" required name="codepen" [(ngModel)]="persona.codepenURL">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" routerLink="/index">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>