<main class="container d-flex flex-column align-items-center">
    <div class="row">
        <div class="col text-center position-relative">
            <div class="edit-box position-absolute top-0 start-100 translate-middle" *ngIf="isLogged">
                <a class="edit-btn" type="button" routerLink="/edit-index/{{persona.id}}"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>  
            </div>
            <span class="name-text">{{persona.nombre}} </span>
            <span class="name-text">{{persona.apellido}}</span>
            <p class="title-text">{{persona.titulo}}</p>   
        </div>
        
    </div>
    <div class="row">
        <div class="col d-flex gap-3 gap-sm-5">
            <a [href]="persona.githubURL" target="_blank"><i class="fa-brands fa-github fa-2xl" style="color: #1e3050;"></i></a>
            <a [href]="persona.linkedinURL" target="_blank"><i class="fa-brands fa-linkedin-in fa-2xl" style="color: #1e3050;"></i></a>
            <a [href]="persona.codepenURL" target="_blank"><i class="fa-brands fa-codepen fa-2xl" style="color: #1e3050;"></i></a>
        </div>
    </div>
</main>

