<main class="container d-flex flex-column align-items-center">
    <div class="row">
        <div class="col text-center">
            <span class="name-text">Edwin</span>
            <span class="name-text">Perez</span>
            <p class="title-text">Full Stack Developer</p>   
        </div>
    </div>
    <div class="row">
        <div class="col d-flex gap-3 gap-sm-5">
            <a href=""><i class="fa-brands fa-github fa-2xl" style="color: #1e3050;"></i></a>
            <a href=""><i class="fa-brands fa-linkedin-in fa-2xl" style="color: #1e3050;"></i></a>
            <a href=""><i class="fa-brands fa-codepen fa-2xl" style="color: #1e3050;"></i></a>
        </div>
    </div>
    

</main>
