<div class="container position-relative">
    <h2>Habilidades</h2>
    <div class="new-btn position-absolute top-0 start-100 translate-middle">
        <a class="btn" type="button" routerLink="/nueva-habilidad" *ngIf="isLogged">
            <i class="fa-solid fa-square-plus fa-2xl" style="color: #ff5b5b;"></i>
        </a>
    </div>
    <div class="row">
        <div *ngFor="let Habilidad of habilidad" class="col">
            <h3 class="progress-title">{{Habilidad.nombre}} - {{Habilidad.porcentaje}}%</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-danger progress-bar-striped active" [style.width]="Habilidad.porcentaje + '%'"></div>
            </div>
            <div class="mt-3" *ngIf="isLogged">
                <a class="edit-btn" type="button" routerLink='/edit-habilidad/{{Habilidad.id}}' >
                    <i class="fa-solid fa-pen fa-lg" style="color: #ff5b5b;"></i>
                </a>
            </div>
            <div class="mt-3" *ngIf="isLogged">
                <a class="edit-btn" type="button" (click)="delete(Habilidad.id)">
                    <i class="fa-solid fa-trash fa-lg" style="color: #d52b2b;"></i>
                </a>
            </div>
        </div>
    </div>
</div>
