<div class="container border border-2 rounded-bottom-5 p-3 shadow border-success" *ngIf="habilidad">
    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div class="modal-content gap-3">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-success fw-bold">Modificar habilidad</h1>
                <button type="button" routerLink="/habilidades" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-3">
                    <div class="col-sm-12">
                        <label for="nombre" class="form-label">Habilidad: </label>
                        <input type="text" class="form-control" id="nombre" name="nombre"
                            [(ngModel)]="habilidad.nombre" required placeholder="" value="">
                    </div>

                    <div class="col-sm-12">
                        <label for="porcentaje" class="form-label">Porcentaje: </label>
                        <input type="text" class="form-control" id="porcentaje" name="porcentaje"
                            placeholder="" [(ngModel)]="habilidad.porcentaje" required>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Guardar Cambios</button>
            </div>
        </div>
    </form>
</div>