<div class="container border border-2 rounded-bottom-5 p-3 shadow border-success">
    <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="modal-content gap-3">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-success fw-bold">Nuevo Proyecto</h1>
                <button type="button" class="btn-close" routerLink="/projects"></button>
            </div>
            <div class="modal-body">
                <div class="row g-3">
                    <div class="col-sm-12">
                        <label for="nombre" class="form-label">Proyecto: </label>
                        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required
                            placeholder="" value="">
                    </div>

                    <div class="col-sm-12">
                        <label for="url" class="form-label">URL </label>
                        <input type="text" class="form-control" id="porentaje" name="url" placeholder=""
                            [(ngModel)]="url" required>
                    </div>

                    <div class="col-sm-12">
                        <label for="imgurl" class="form-label">Imagen: </label>
                        <input type="text" class="form-control" id="imgurl" name="imgurl" placeholder=""
                            [(ngModel)]="imgUrl" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Guardar Cambios</button>
            </div>
        </div>
    </form>
</div>