<div class="container">
    <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Nueva Habilidad</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="nombre" class="form-label">Habilidad: </label>
                        <input type="text" class="form-control" id="nombre" name="nombre"
                            [(ngModel)]="nombre" required placeholder="" value="">
                    </div>

                    <div class="col-sm-6">
                        <label for="porcentaje" class="form-label">Porcentaje </label>
                        <input type="text" class="form-control" id="porentaje" name="porcentaje"
                            placeholder="" [(ngModel)]="porcentaje" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" routerLink="/habilidades">Cerrar</button>
                <button type="submit" class="btn btn-primary">Agregar Habilidad</button>
            </div>
        </div>
    </form>
</div>
