<div class="container border border-2 rounded-bottom-5 p-3 p-3 shadow border-success" *ngIf="experiencia">
    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div class="modal-content gap-3">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-success fw-bold">Editar Experiencia</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" routerLink="/experience" aria-label="Close"></button>
            </div>
            <div class="modal-body g-3">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="nombreExperiencia" class="form-label">Empresa: </label>
                        <input type="text" class="form-control" id="nombreExperiencia" name="nombreExperiencia"
                            [(ngModel)]="experiencia.nombreExperiencia" required placeholder="" value="">
                    </div>
                    <div class="col-sm-6">
                        <label for="tituloExperiencia" class="form-label">Cargo: </label>
                        <input type="text" class="form-control" id="tituloExperiencia" name="tituloExperiencia"
                            placeholder="" [(ngModel)]="experiencia.tituloExperiencia" required>
                    </div>
                    <div class="col-12">
                        <label for="descripcionExperiencia" class="form-label">Descripcion</label>
                        <input type="text" class="form-control" id="descripcionExperiencia"
                            name="descripcionExperiencia" [(ngModel)]="experiencia.descripcionExperiencia" required>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-sm-6">
                        <label for="fechaInicioExperiencia" class="form-label">Fecha Inicio:</label>
                        <input type="text" class="form-control" id="fechaInicioExperiencia" name="fechaInicioExperiencia"
                            placeholder="Inicio" required="" [(ngModel)]="experiencia.fechaInicioExperiencia">
                    </div>
                    <div class="col-sm-6">
                        <label for="fechaInicioExperiencia" class="form-label">Fecha Final:</label>
                        <input type="text" class="form-control" id="fechaFinalExperiencia" name="fechaFinalExperiencia"
                            placeholder="Final" [(ngModel)]="experiencia.fechaFinalExperiencia" required="">
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-success">Guardar Cambios</button>
            </div>
        </div>
    </form>
</div>