<div class="container border border-2 rounded-bottom-5 p-3 p-3 shadow border-success" *ngIf="educacion">
    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div class="modal-content gap-3">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-success fw-bold">Editar Educacion</h1>
                <button type="button" routerLink="/experience" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="nombreEducacion" class="form-label">Institucion: </label>
                        <input type="text" class="form-control" id="nombreEducacion" name="nombreEducacion"
                            [(ngModel)]="educacion.nombreEducacion" required placeholder="" value="">
                    </div>

                    <div class="col-sm-6">
                        <label for="descripcionEducacion" class="form-label">Titulo: </label>
                        <input type="text" class="form-control" id="descripcionEducacion" name="descripcionEducacion"
                            placeholder="" [(ngModel)]="educacion.descripcionEducacion" required>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Guardar Cambios</button>
            </div>
        </div>
    </form>
</div>