<main class="container-fluid d-flex justify-content-around d-flex flex-wrap flex-md-nowrap">
    <div class="container position-relative">
        <div class="new-btn position-absolute top-0 start-100 translate-middle">
            <a class="edit-btn" type="button" routerLink="/nueva-experiencia" *ngIf="isLogged">
                <i class="fa-solid fa-square-plus fa-2xl" style="color: #ff5b5b;"></i>
            </a>
        </div>

        <div class="row">
            <h2>Experiencia Laboral</h2>
            <div class="col d-flex flex-wrap" *ngFor="let Experiencia of experiencia">
                <div class="d-flex card p-3 mb-2 shadow border-1">
                    <div class="d-flex align-items-center">
                        <div class="icon"></div>
                        <div class="m-2 c-details flex-grow-1 text-center">
                            <h4>{{Experiencia.nombreExperiencia}}</h4>
                            <h5>{{Experiencia.tituloExperiencia}}</h5>
                        </div>
                    </div>
                    <div class="text-wrap text-center">
                        <h3 class="heading">{{Experiencia.descripcionExperiencia}}</h3>
                    </div>
                    <div class="card-footer d-flex" *ngIf="isLogged">
                        <div class="d-flex flex-grow-1">
                            <span>{{Experiencia.fechaInicioExperiencia}}</span>
                            <span>{{Experiencia.fechaFinalExperiencia}}</span>
                        </div>
                        <button class="edit-btn mx-1" type="button"
                            routerLink='/edit-expe/{{Experiencia.experienciaId}}'>
                            <i class="fa-solid fa-pen fa-lg" style="color: #ff5b5b;"></i>
                        </button>
                        <button class="edit-btn mx-1" type="button" (click)="delete(Experiencia.experienciaId)">
                            <i class="fa-solid fa-trash fa-lg" style="color: #d52b2b;"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid position-relative">
        
        <app-educacion></app-educacion>
    </div>

</main>